@use '../../scss/' as *;

.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:1.2rem;
    margin-bottom: 3rem;
    @include tablet {
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }

    &__load-more{
        @include flex(center,center)
    }
}

.movie-search{
    position: relative;
    display: inline-block;
    &__icon{
        @include flex(center,center);
        position: absolute;
        width: 35px;
        height: 35px;
        top:50%;
        right:5px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}