@use '../../scss//variables' as *;

.progress {
    position: relative;
    .counter{
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size: 12px;
        text-align: center;
        line-height: 1.5;
        font-weight: 700;
        color:$grey-color;

    }
}

