@use '../../scss/' as *;

button {
  cursor: pointer;
  font-family: $primary-font;
}
.btn {
  background-image: linear-gradient(92.88deg, $primary-light-color 9.16%, $primary-color 43.89%, $primary-dark-color 64.72%);
  border-radius: $border-radius;
  border-style: none;
  box-sizing: border-box;
  color: $light-color;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.9rem 1.8rem;
  text-align: center;
  text-shadow: rgba($dark-color, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &:hover{
    box-shadow: rgba($primary-dark-color, 0.502) 0 1px 30px;
    transition-duration: .1s;
  }
}

.btn-outline {
  border: 3px solid $light-color;
  background-color: transparent;
  color: $light-color;
  box-shadow: unset;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    color: $primary-color;
    background-color: $light-color;
  }
}
.btn--sm {
  border-width: 2px;
  padding: 0.25rem 1.5rem;
  font-size: 1rem;
}


