@use '../../scss/' as *;
.movie-list {
  .swiper-slide {
    width: 15%;
    // @include landscape {
    //   width: 20%;
    // }
    @include tablet {
      width: 30%;
    }
    @include mobile {
      width: 40%;
    }
  }
}
