@use '../../scss/' as *;

.footer {
  position: relative;
  padding: 6rem 2rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $body-bg, rgba(#000, 0));
  }
  &__content {
    max-width: 1000px;
  }
  &__logo {
    a {
      @include flex(center, center);
    }
    a img {
      width: 10rem;
      height: auto;
    }
  }
  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      font-size: 1.5rem;
      @include landscape {
        font-size: 1.2rem;
      }
      font-weight: 600;
      & > * ~ * {
        margin-top: 1rem;
      }
    }
  }
}
