@use '../../scss/' as *;

.movie-detail {
  &__backdrop {
    width: 100%;
    height: 50vh;
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include overlay();
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(to top, $body-bg, rgba(#000, 0));
    }
  }

  &__content {
    display: flex;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -240px;
    position: relative;
    padding: 0 2rem;
    @include landscape {
      max-width: 1000px;
      margin-top: -200px;
    }
    @include tablet {
      margin-top: -300px;
    }
  }
  &__poster {
    flex: 1;
    @include mobile {
      display: none;
    }
    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 165%;
    }
  }
  &__info {
    width: 70%;
    padding-left: 2rem;
    @include mobile {
      width: 100%;
      padding-left: 0;
    }
  }
  &__info > * ~ * {
    margin-bottom: 2rem;
  }
  &__title {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 1rem;
    @include landscape {
      font-size: 3rem;
    }
  }
  &__overview {
    color: $grey-color;
  }
  &__title &__category {
    font-size: 0.8rem;
    border: 1px solid $primary-color;
    color: $primary-color;
    border-radius: 3px;
    padding: 0.3rem 0.5rem;
    vertical-align: text-top;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
  }

  &__genres {
    & > * ~ * {
      margin-left: 0.5rem;
    }
    span {
      padding: 0.5rem 1.5rem;
      border: 2px solid $grey-color;
      border-radius: $border-radius;
      font-size: 0.8rem;
      color: $grey-color;
    }
  }

  &__status {
    & > * ~ * {
      display: inline-block;
      margin-left: 0.5rem;
    }
  }
  &__label {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
    border-radius: $border-radius;
    background-color: $primary-light-color;
    display: inline-block;

    &-1 {
      background-color: $primary-dark-color;
    }
    &-2 {
      background-color: transparent;
      border:2px solid $light-color;
    }
  }
  &__review{
    @include flex(flex-start,flex-start)
  }
  &__trailer{
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    margin-left:1rem;
    cursor: pointer;
    i {
      margin-right:0.5rem;
    }
  }
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

  &__item {
    &-bg {
      padding-top: 160px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 0.5rem;
      border-radius: 6px;
    }
    &-name {
      font-size: 0.8rem;
      color: $grey-color;
    }
  }
}
