@use '../../scss/' as *;

.movie-detail {

    &__backdrop{
        width: 100%;
        height: 50vh;
        position: relative;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include overlay();
        }
    
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background-image: linear-gradient(to top, $body-bg, rgba(#000, 0));
        }
    }


    &__poster{
        img{
            display: inline-block;
            border-radius:$border-radius;
            box-shadow:$box-shadow;
            margin-top:-200px;
        }
    }
}