$body-bg: #0f0f0f;
$txt-color: #fff;

$primary-color: #ffac4a;
$primary-light-color: #ffbe73;
$primary-dark-color: #f0942a;
$light-color: #fff;
$dark-color: #000;
$grey-color:#adadad;
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-h: 8rem;
$header-shrink-h: 5rem;
$border-radius: 30px;

$landscape-w: 1440px;
$tablet-w: 1024px;
$mobile-w: 600px;

$primary-font: "Montserrat", sans-serif;
