$body-bg:#0f0f0f;
$txt-color:#fff;

$primary-color:#ff0000;

$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header-h: 8rem;
$header-shrink-h:5rem;
$border-radius: 30px;

$mobile-w:600px;
$tablet-w:1024px;

$primary-font: "Montserrat", sans-serif;